# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of the go coverage tool
*.out

# GoLand project files
.idea/

# Go workspace file
go.work
go.work.sum

# Go modules
vendor/

# Log files
*.log

# Temporary files
*.tmp
*.temp

# OS-specific files
.DS_Store
Thumbs.db

# env file
.env

#output files
.csv